<div id="content" class="site-content" tabindex="-1">
  <div class="container">
   <nav class="woocommerce-breadcrumb ">
   </nav>
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
    <div id="primary" class="content-area">
      <main id="main" class="site-main">
        <article id="post-8" class="hentry">
          <div class="entry-content">
            <div class="woocommerce">
              <div class="customer-login-form">
                <h2 class="panel-title"><%= Spree.t(:forgot_password) %></h2>
                <p><%= Spree.t(:instructions_to_reset_password) %></p>
                <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path do |f| %>
                  <p>
                    <%= f.label :email, Spree.t(:email) %><br />
                    <%= f.email_field :email, :class => "form-control" %>
                  </p>
                  <p>
                    <%= f.submit Spree.t(:reset_password), :class => 'button', :style => "width: auto" %>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>
