<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<% if current_spree_user %> 'customer-logged-in'<% end %> page home page-template-default " data-hook="body">
    <div id="main-container">
      <%= render partial: 'spree/shared/google_analytics.js' %>
      <%= render partial: 'spree/shared/header' %>
      <%= render partial: 'mobile/header' %>
      <div id="modal-call">
        <%= render partial: "spree/shared/modal_form", :locals=>{:call_message => Spree::CallMessage.new}%>
      </div>
     
      <div id="content" class="site-content" tabindex="-1" style="min-height: 800px;">
        <div class="container">
          <%= breadcrumbs(@taxon, @product) %>
          <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>
          <%#= flash_messages %>
          <%= yield %>

          <%= yield :templates %>

        </div>
      </div>
      <%= render partial:"spree/shared/footer"%>
    </div>
    <%= render partial: 'mobile/footer' %>

  </body>
</html>