<% variant = line_item.variant %>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <tr class="line-item cart_item">
    <td class="cart-item-delete product-remove" data-hook="cart_item_delete">
      <%= link_to "×", '#', class: 'delete remove', id: "delete_#{dom_id(line_item)}" %>
    </td>
    <td class="product-thumbnail" data-hook="cart_item_image">
      <% if variant.images.length == 0 %>
        <%= link_to small_image(variant.product), variant.product %>
      <% else %>
        <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
      <% end %>
    </td>
    <td class=" product-name" data-hook="cart_item_description" data-title="<%= Spree.t(:item) %>">
      <%= link_to line_item.name, product_path(variant.product) %>
      <%= variant.options_text %>
      <% if line_item.insufficient_stock? %>
        <span class="out-of-stock">
          <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
        </span>
      <% end %>
    </td>
    <td class="product-price" data-hook="cart_item_price" data-title="<%= Spree.t(:price) %>">
      <%= display_hum_price(line_item.price) %> руб.
    </td>
    <td class="product-quantity cart-item-quantity" data-hook="cart_item_quantity" valign="center" data-title="<%= Spree.t(:qty) %>">
      <div class="quantity buttons_added ">
        <input type="button" class="plus" value="+" style="background-color:#efecec !important;">
        <%= item_form.number_field :quantity, min: 1,max: 99, class: "form-control line_item_quantity input-text qty text", size: 5 %>
        <input type="button" class="minus" value="-" style="background-color:#efecec !important;">
      </div>
    </td>
    <td class="product-subtotal" data-hook="cart_item_total " data-title="<%= Spree.t(:total) %>">
      <span class="amount"><%= display_hum_price(line_item.amount) + ' руб.' unless line_item.quantity.nil? %></span> 
    </td>
  </tr>
<% end %>