<%= render partial: 'mobile/order_form.html', locals: {order:order} %>

<article class="page type-page status-publish hentry mob-hide">
  <% if order.line_items.empty? %>
      <div class="woocommerce">
        <p class="cart-empty"><%= Spree.t(:your_cart_is_empty) %></p>
        <p class="return-to-shop">
          <%= link_to Spree.t(:continue_shopping), products_path, class: 'button wc-backward' %>
        </p>
      </div>
  <% else %>
      <header class="entry-header-cart"><h1 itemprop="name"><%= Spree.t(:shopping_cart) %></h1></header>
      <div data-hook="outside_cart_form" class="cart_form_edit mob-hide">
        <%= form_for order, url: update_cart_path, html: {id: 'update-cart', :remote => true} do |order_form| %>
            <div data-hook="inside_cart_form">
              <div data-hook="cart_items" class="table-responsive">
                <%= render partial: 'form', locals: {order_form: order_form} %>
              </div>
            </div>
        <% end %>
      </div>
      <div class="cart-collaterals">
        <div class="cart_totals ">
          <h2><%= Spree.t(:total) %></h2>
          <table class="shop_table shop_table_responsive">
            <tbody>
            <tr class="cart-subtotal">
              <th><%#= Spree.t(:total) %></th>
              <td style="font-size: 1.2em; padding-right: 1.25em;">
                <span class="amount"><%= display_hum_price(@order.total) %> руб.</span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="wc-proceed-to-checkout">
        <%= button_to "/checkout", class: 'checkout-button button alt', id: 'checkout-link', :method => :get do %>
            Оформить заказ
            <%#= Spree.t(:checkout) %>
        <% end %>
      </div>
      <!--  <div id="empty-cart" class="col-md-3 pull-left" data-hook>
              <%#= form_tag empty_cart_path, method: :put do %>
                <p id="clear_cart_link" data-hook>
                  <%#= submit_tag Spree.t(:empty_cart), class: 'btn btn-default' %>
                  <%#= Spree.t(:or) %>
                  <%#= link_to Spree.t(:continue_shopping), products_path, class: 'continue' %>
                </p>
              <%# end %>
            </div> -->
  <% end %>
  </div>
</article>
