$('.cart-in-header').empty().append(" <%= j(render :partial => 'spree/shared/cart', :locals => {:order => current_order}) %>");
$('.mob-header__cart').html(" <%= j(render :partial => 'mobile/cart', :locals => {:order => current_order}) %>");
$(".nav-item").addClass("open");
$(".nav-item .nav-links").attr("aria-expanded","true");
