$('.cart-edit').empty().append("<%= j(render :partial=>'order_form',:locals=>{:order=>@order})%>");
$('.cart-in-header').empty().append(" <%= j(render :partial => 'spree/shared/cart', :locals => {:order => @order}) %>");
$('.mob-header__cart').html(" <%= j(render :partial => 'mobile/cart', :locals => {:order => @order}) %>");
$(".quantity.buttons_added").on("click", ".plus", function(){
    v = $(this).parent().children(".qty").val();
    if (v < 99){
        $(this).parent().children(".qty").val(++v);
        $(this).attr('disabled', 'true');
        $('#update-cart').submit();
    }

});
$(".quantity.buttons_added").on("click", ".minus", function(){
    v = $(this).parent().children(".qty").val();
    if (v > 1){
      $(this).parent().children(".qty").val(--v);
      $(this).attr('disabled', 'true');
      $('#update-cart').submit();
    }
});
$(".line_item_quantity").on('change', function() {
    if ($(this).val() == ""){
      $(this).val(1);
    }
    if ($(this).val() == 0){ 
       $(this).val(1);
     }
    if ($(this).val() > 99){ 
      $(this).val(99);
    }
    $('#update-cart').submit();
});
if (($('form#update-cart')).is('*')) {
  ($('form#update-cart a.delete')).show().one('click', function() {
    ($(this)).parents('.line-item').first().find('input.line_item_quantity').val(0);
    ($(this)).parents('form').first().submit();
    return false;
  });
}
($('form#update-cart')).submit(function() {
  return ($('form#update-cart #update-button')).attr('disabled', true);
});
// $('#update-cart').on('click', '.plus', function() {
   
    
// });
// $('#update-cart').on('click', '.minus', function() {
    
// });
