    <div class="woocommerce-checkout">
      <div class="woocommerce-billing-fields ">
        <br />
        <%= form.fields_for :bill_address do |bill_form| %>
          <div class="panel-body">
           
            <%= render partial: 'spree/address/form', locals: { b_form: bill_form, address_type: 'billing', address: @order.bill_address, :form => form } %>
          </div>
        <% end %>
        <div id="payment" class="woocommerce-checkout-review-order" id="order_review" style="float: left; width: 100%;">
          <div class="form-row place-order">
              <% if try_spree_current_user %>
                <!-- <span data-hook="save_user_address">
                  &nbsp; &nbsp;
                  <%#= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
                  <%#= label_tag :save_user_address, Spree.t(:save_my_address) %>
                </span> -->
              <% end %>

              <%= submit_tag "Завершить оформление", class: 'checkout-button alt ' %>
          </div>
        </div>
      </div>

      <div class="col-2"  style="display: none">
        <div class="woocommerce-shipping-fields">
            <h3><%= Spree.t(:shipping_address) %></h3>
            <%= form.fields_for :ship_address do |ship_form| %>
              <h3 id="ship-to-different-address" data-hook="use_billing" style="margin-bottom: .15em; padding-bottom: 0;">
                <%= label_tag :order_use_billing, id: 'use_billing' do %>
                  <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address?, :class => "input-checkbox" %>
                  <%= Spree.t(:use_billing_address) %>
                <% end %>
              </h3>
              <div class="shipping-fields " style="display: none">
                <%= render partial: 'spree/address/form', locals: { form: ship_form, address_type: 'shipping', address: @order.ship_address } %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
