<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_resource_list, resource: plural_resource_name(Spree::BrandImage)), spree.admin_brand_images_path, icon: 'arrow-left', class: 'btn-primary' %>
<% end %>

<%= form_for [:admin, resource] do |f| %>
  <div class="row" data-hook="admin_page_form_fields">
    <div class="col-md-6" data-hook="admin_page_form_left">
      <div class="form-group">
        <%= f.label :name %> <span class="required">*</span>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.error_message_on :name %>
      </div>
      <div class="form-group">
        <%= f.label 'Бренд' %> <span class="required">*</span>
        <%= f.text_field :brand_name, class: 'form-control' %>
        <%= f.error_message_on :brand_name %>
      </div>
      <div data-hook="file" class="form-group">
        <%= f.label :image, Spree.t(:filename) %>
        <%= f.file_field :image %>
      </div>
    </div>

    <div class="col-md-6" data-hook="admin_page_form_right">
     
      <div class="checkbox">
        <%= f.label :active do %>
          <%= f.check_box :active %>
          Активный
        <% end %>
      </div>
    </div>
  </div>
  <%= render "spree/admin/shared/#{resource.new_record? ? 'new' : 'edit'}_resource_links" %>
<% end %>