<% content_for :page_title do %>
  Бренды
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to "Создать", new_object_url, icon: 'plus', class: 'btn-primary', id: 'admin_new_brand_image' %>
<% end %>

<% if @brand_images.any? %>
  <table class="table" id="listing_pages" data-hook>
    <colgroup>
      <col style="width: 40%">
      <col style="width: 10%">
      <col style="width: 35%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="admin_pages_index_headers">
        <th>Название</th>
        <th>Изображение</th>
        <th>Ссылка</th>
        <th class="text-center">Активный</th>
        <th data-hook="admin_pages_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @brand_images.each do |page| %>
        <tr data-hook="admin_pages_index_rows" class="<%= cycle('odd', 'even') %>" id="<%= dom_id page %>">
          <td><%= page.name %></td>
          <td><%= image_tag(page.image(:small), :style=>"background-color: #666;")%></td>
          <td><%= link_to "/brands/#{page.brand_name}", "/brands/#{page.brand_name}"%></td>
          <td class="text-center"><%= content_tag(:i, '', class: 'icon icon-ok') if page.active %></td>
          <td class="actions text-right" data-hook="admin_pages_index_row_actions">
            <%= link_to_edit page, no_text: true %>
            <%= link_to_delete page, no_text: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning no-objects-found">
    Ничего не найдено,
    <%= link_to Spree.t(:add_one), spree.new_admin_brand_image_path %>!
  </div>
<% end %>