<div id="content" class="site-content" tabindex="-1">
  	<div class="container">
		<div id="primary" class="content-area left-move-first" data-hook="homepage_products">
		<nav class="woocommerce-breadcrumb "><a href="/" style="padding: 0.465em 0em;">Главная</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Бренды</nav>
		  <main class="site-main" id="main">
		  	<section>
		  		<header class="page-header">
				    <h1 class="page-title">Список брендов</h1>
				</header>
				<br>
				     	<% if @brands.any? %>
				     			<%("a".."z").to_a.each do |s| %>
				     				<% brs = @brands.map{|b| b if b[0,1].downcase == s}.compact%>
				     				<% unless brs.empty?%>
					     				<ul class="products columns-3">
					     					<header class="page-header">
										    	<h1 class="page-title"><%= s.capitalize%></h1>
											</header>
						     				<% brs.each do |brand| %>
						     					<div class="brand-list"><%= link_to brand, "/brands/#{brand.to_url}?b=#{brand.gsub('&','-and-')}" %></div>	
						     				<% end %>
					     				</ul>
				     				<% end -%>
				     			<% end -%>
				     			<%("а".."я").to_a.each do |s| %>
				     				<% brs = @brands.map{|b| b if b[0,1].mb_chars.downcase == s}.compact%>
				     				<% unless brs.empty?%>
				     					<ul class="products columns-3">
					     					<header class="page-header">
										    	<h1 class="page-title"><%= s.mb_chars.capitalize%></h1>
											</header>
						     				<% brs.each do |brand| %>
						     					<li class="brand-list "><%= link_to brand, "/brands/#{brand.to_url}?b=#{brand.gsub('&','-and-')}" %></li>
						     				<% end %>
					     				</ul>
				     				<% end -%>
				     			<% end -%>
				    	<% end %>
		  	</section>
		  </main>
		</div>
	</div>
</div>