<% @body_id = 'product-details' %>
<% self.title = "#{@product.name} купить на 41 км"%>
<%# cache cache_key_for_product do %>
  <div id="primary" class="content-area single-product">
    <%= render partial: '/mobile/product_show', product:@product%>

    <main id="main" class="site-main single-product mob-hide" style="padding-left: 0.9375rem;" >
      <div class="product ">
        <div class="single-product-wrapper">
          <div class="product-images-wrapper">
            <!-- <span class="onsale">Sale!</span> -->
            <div class="images electro-gallery">
              <div class="thumbnails-single owl-carousel">

                  <% if (@product.images + @product.variant_images).uniq.size > 0 %>
                      <% @product.images.each do |i| %>
                          <%= link_to(image_tag(i.attachment.url(:product), :class=>"wp-attachment-shop_single size-shop_single-image"), i.attachment.url(:original), :class => "zoom", :data=> {:rel => "prettyPhoto[product-gallery]"}) %>
                      <% end %>

                      <% if @product.has_variants? %>
                        <% @product.variant_images.each do |i| %>
                          <% next if @product.images.include?(i) %>
                            <%= link_to(image_tag(i.attachment.url(:product), :class=>"wp-attachment-shop_single size-shop_single-image"), i.attachment.url(:original), :class => "zoom", :data=> {:rel => "prettyPhoto[product-gallery]"}) %>
                        <% end %>
                      <% end %>
                  <% else %>
                    <%= product_image(@product) %>
                  <% end %>
              </div>
              <div class="thumbnails-all columns-5 owl-carousel">
                <%= render partial: 'thumbnails' %>
              </div>
            </div>
          </div>
          <div class="summary entry-summary">
            <span class="loop-product-categories">
              <%#= link_to @taxon.name, seo_url(@taxon), :rel=>"tag"%>
            </span>
            <h1 itemprop="name" class="product_title entry-title"><%= @product.name %></h1>
            <div class="availability in-stock"><strong>Код товара</strong>: <span style="color:#b60000;"><%= @product.sku%></span></div>
            <hr class="single-product-title-divider" />

            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <% if @product.available?%>
                <p class="price">
                <span class="electro-price">
                  <span class="amount"><%= display_price(@product) %></span>
                  </span>
                </p>
                <meta itemprop="price" content="1215" />
                <meta itemprop="priceCurrency" content="rub" />
                <link itemprop="availability" href="http://schema.org/InStock" />
                <% if @product.price.to_i >0 %>
                  <%= render partial: 'cart_form' %>
                <% end %>
              <% else %>
                Наличие товара уточняйте
              <% end %>
            </div>
          </div>
        </div>
        <div class="product-props woocommerce-tabs">
          <%= render partial: 'properties' %>
        </div>
        <%= render :partial => "spree/shared/latest_products_bottom"%>
      </div>
          <script>
            $(document).ready(function(){
              Spree.fetch_recently_viewed_products('<%= @product.try(:id) %>');
            });

          </script>
    </main>
  </div>
  <div id="sidebar" class="sidebar" role="complementary"> 
  </div>
<%# end %>

