<% self.title = "#{@taxon.name} купить в Москве по низкой цене на 41 км"%>
<!-- <h1 class="taxon-title"><%#= @taxon.name %></h1>

<%# content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%#= render partial: 'spree/shared/taxonomies' %>
    <%#= render partial: 'spree/shared/filters' if @taxon.leaf? %>
  </div>
<%# end %>

<div data-hook="taxon_products">
</div>

<%# unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <%# cache [I18n.locale, @taxon] do %>
      <%#= render partial: 'taxon', collection: @taxon.children %>
    <%# end %>
  </div>
<%# end %> -->

<div id="primary" class="content-area left-move-third" data-hook="homepage_products">
  <main class="site-main" id="main">
  <section>
    <header class="page-header">
      <h1 class="page-title"><%= @taxon.name %></h1>
      <!-- <p class="woocommerce-result-count">Showing 1–15 of 20 results</p> -->
    </header>
  </section>
    
    <!-- <div class="shop-control-bar">
      <ul class="shop-view-switcher nav nav-tabs" role="tablist">
                                  
      </ul>
        <form class="woocommerce-ordering" method="get">
          <select name="orderby" class="orderby">
            <option value="menu_order" selected="selected">Default sorting</option>
            <option value="popularity">Sort by popularity</option>
            <option value="rating">Sort by average rating</option>
            <option value="date">Sort by newness</option>
            <option value="price">Sort by price: low to high</option>
            <option value="price-desc">Sort by price: high to low</option>
          </select>
        </form>
      <nav class="electro-advanced-pagination">
        <form method="post" class="form-adv-pagination">
          <input id="goto-page" size="2" min="1" max="<%= @products.total_pages%>" step="1" type="number" class="form-control" value="<%= @products.current_page%>"></form> из <%= @products.total_pages%>
          <a class="next page-numbers" href="#">→</a>      
          <script>
            jQuery(document).ready(function($){
              $( '.form-adv-pagination' ).on( 'submit', function() {
                var link    = window.location.pathname,
                goto_page   = $( '#goto-page' ).val(),
                new_link  = (link+"?page=" + goto_page);
                window.location.href = new_link;
                return false;
              });
            });
          </script>
      </nav>
    </div> -->
    <div class="tab-content">
      <%# unless @products.empty?%>
        <nav class="shop-control-bar"  style="background-color: #fff;"> 
          <%= render partial: 'spree/shared/product_filter', locals: {taxon: @taxon }%>
        </nav>
      <%# end %>
        <div role="tabpanel" class="tab-pane active" id="grid" area-expanded=true>
          <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
        </div>
        <div class="taxon-seo-content mob-hide">
          <%= raw @taxon.description%>
        </div>

        <%= render :partial => "spree/shared/latest_products_bottom"%>
    </div>
  </main>
</div>
<div id="sidebar" class="sidebar">
  <%#= render partial: 'spree/shared/taxonomies', locals: {taxon: @taxon } %>
  <aside class="widget widget_electro_products_filter " style="margin-top: 13px;">
    <!-- <h3 class="widget-title ssc">Фильтры</h3> -->
    <aside class="widget woocommerce widget_price_filter">
      <%#= render partial: 'spree/shared/filter', locals: {taxon: @taxon }%>
      <!-- <h3 class="widget-title">Price</h3>
      <form action="#">
        <div class="price_slider_wrapper">
          <div class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style="">
            <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>
            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span>
            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span>
          </div>
          <div class="price_slider_amount">
            <input type="text" id="min_price" name="min_price" value="" data-min="0" placeholder="Min price" style="display: none;">
            <input type="text" id="max_price" name="max_price" value="" data-max="150000" placeholder="Max price" style="display: none;">
            <button type="submit" class="button">Filter</button>
            <div class="price_label" style="">
              Price: <span class="from">0</span> — <span class="to">150000</span>
            </div>
            
            <div class="clear"></div>
          </div>
        </div>
      </form> -->
    </aside>
  </aside>
</div>
