$brand-light: #00abc5;
$brand-dark: #004049;
$brand-default: #efecec;
$brand-alert: #aa0000;

.mob-header, .mob-menu, .mob-header__catalog {
  button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 0;
  }
}

.mob-header {
  z-index: 400;
  box-sizing: border-box;
  //height: calc(2em + 2px);
  color: white;
  position: fixed;
  width: 100%;
  &__first-line {
    background-color: $brand-light;
    display: flex;
    line-height: 2em;
  }

  &__logo {
    flex: 0 10 6.5em;
    padding-left: .5em;
    line-height: 2em;

    a{
      color:white;
      font-weight: bold;
    }
    //img {
    //  display: inline;
    //  width: 6em;
    //  height: 0.90em;
    //}

    position: relative;
    top: 1px;
  }

  &__tel {
    line-height: 2em;
    flex: 20 10 12.5em;
    //padding-right: 6.5em;
    font-size: 1.1em;
    text-align: center;
    a {
      font-weight: bold;
      color: white;
    }
  }

  &__toggler {
    flex: 0 0 1.85em;
    position: relative;
    margin: 1px;

    button {
      color: white;
      border: 1px solid white;
      width: 100%;
      height: 100%;
      position: absolute;
      font-size: 1.1em;
      border-radius: 2px;
      &:hover {
        border-color: white;
        background-color: $brand-light;
        color: white;
      }
      &:focus {
        background: transparent;
        color: white;
      }
      &:active, &:target {
        background-color: $brand-dark !important;
        color: white !important;
      }
    }
    .icon {
      top: -1px;
      position: relative;
    }
  }
  &-blank {
    box-sizing: border-box;
    height: 3.35rem;
    //height: calc(2em + 2px);
  }
  &__second-line{
    font-size: 1.1em;
    width: 100%;
    border-bottom: 1px solid white;
    color: white;
    box-sizing: border-box;
    line-height: 2em;
    padding: 0 .5em;
    z-index: 401;
    background-color: $brand-dark;
    display: flex;
    justify-content: space-between;
  }
  &__cart{
    flex: 0 1 9em;
    text-align: right;
    position: relative;
    a{
      color:white;
    }
    margin-right: 1em;
  }

  &__catalog {
    flex: 0 1 9em;
    &-btn {
      color: white;
      width: auto;
      z-index: 402;
      font-size: 1em;
      &:hover, &:active, &:target, &:focus {
        border-color: transparent !important;
        background-color: transparent !important;
        color: white !important;
      }
    }

    &-content {
      border: 1px solid lightgray;

      position: fixed;
      top: calc(4.2em - 1px);
      left: 0;
      right: 0;
      bottom: 0;
      display: none;

      height: calc(100% - 4em);
      overflow-x: scroll;
      min-width: 160px;
      width: 20em;
      //box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      background-color: white;
    }
    &-content a {
      background-color: $brand-dark;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown a:hover {
      background-color: #f1f1f1
    }

    &_show {
      display: block;
    }

    a {
      color: white;
      font-weight: bold;
      &:active{
        background-color: $brand-light;
      }
    }


    &-search {
      color: $brand-dark;
      background-color: white;
      display: flex;
    }
  }

  &__search-form {
    flex: 1;
    display: flex;
    align-items:center;
    margin: .5em;
    margin-right: .8em;
  }

  &__close-btn{
    flex: 0 0 3rem;
    height: auto;
    background-color: $brand-dark !important;
    text-align: center !important;
    img{
      margin: auto;
      height: 2rem;
      width: 2rem;
      position: relative;
      top: 2px;
    }
  }

  &__search-label {
    text-align: right;
    flex: 0 1 1.5em;
    margin: 0;
    margin-right: .4em;
    margin-left: -.5em;
    font-weight: 400 !important;
  }

  &__search-input {
    flex: 10 1 5em;
    display: inline-block;
    width: auto;
    padding: .25em !important;
    padding-bottom: .3em !important;
    margin: 0 0;
    background-color: white !important;
    border-radius: 0 !important;
  }
}


#main-container {
  height: 100%;
  overflow: auto;
}

div[data-hook="homepage_products"]{
  padding-left: 1.9375rem;
  width: 75%;
  left: 25%;
}

@media all and (max-width: 550px) {
  .mob-footer, .mob-menu, .mob-menu {
    font-size: .80em;
  }
  .mob-menu__toggler {
    border-radius: 1px;
  }
}

.mob-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
  box-sizing: border-box;
  height: calc(2em + 2px);
  padding: 0 1em;
  background-color: #e4e4e4;
  display: flex;
  &__left {
    flex: 1 1 100px;
    text-align: left;
  }
  &__right {
    flex: 1 1 100px;
    text-align: right;
  }
}

.mob-menu {
  a {
    color: white;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  display: none;
  &_visible {
    display: block;
  }
  background-color: $brand-dark;
  position: fixed;
  z-index: 999990;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;

  &__content {
    padding-top: 4em;
    height: 100%;
    overflow: auto;
  }

  &__item {
    line-height: 2.5em;
    font-size: 1rem;
    margin: 0 auto;
    width: 70%;
    font-weight: bold;
    &_with-break {
      border-bottom: 1px solid white;
      margin-bottom: 1em;
      padding-bottom: 1em;
    }
  }

  ol, ul {
    list-style: none;
  }
  .hide-btn {
    position: absolute;
    right: 0;
    margin: 1em;

    &:active, &:target {
      background-color: $brand-dark !important;
    }
  }
}

.mob-order{
  box-sizing: border-box;

  div{
    box-sizing: border-box;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  img{
    object-fit: cover;
  }
  margin-bottom: 3em;

  &__total{
    text-align: right;
    p{
      margin: 0;
      padding: 0;
      line-height: 1.1em;
    }
    &-fist-line{
      font-size: 1em;
    }
    &-second-line{
      font-size: 1em;
      color: $brand-light;
    }
    &-word{
      font-size: 1.7em;
      color: black;

    }
    &-amount{
      font-size: 1.5em;

      color: $brand-light;
    }
  }

  &__checkout{
    margin-top: 1em;

    a{
      display: block;
      text-align: center;

      font-weight: 700;
      color: white;
      border-radius: 1em;
      //border: 1px solid;
      padding: .5em 1em;
      background-color: $brand-alert;
    }
  }
}

.mob-card{
  margin-bottom: 2em;

  &__title-link{
    margin-right: 2em;
  }
  &__item{
    position: relative;
    display: flex;
    padding: .5em;
    border: 1px solid lightgrey !important;
  }
  &__delete-btn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    width: 1em;
    height: 1em;
    text-align: center;
    z-index: 1;
  }
  &__photo{
    flex: 0 0 4rem;
    height: auto;
    img {
      border: 1px solid grey !important;

      max-width: 100%;
      margin: 0 auto;
    }
  }
  &__details{
    min-height: 5em;
    flex: 1 1 auto;
    margin-left: .5em;
    position: relative;
    &-price{
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &-quantity{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  &__count{
    border-bottom: 1px solid lightgrey !important;


    &-input{
      background-color: white;
      padding: 0 !important;
      text-align: center;
      border-radius: 2px;
      width: auto;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      display: none !important;

    }
    &-btn{
      display: inline-block !important;
      border-radius: 2px;
      position: relative;
      padding: .3em;
      //s
      &-plus, &-minus{
        font-size: 1.1em !important;
        padding: 0 !important;
        width: 1.5em !important;
        height: 1.5em !important;
        margin: 0;
        position: relative !important;
        right: auto !important;
        left: auto !important;
        bottom: auto !important;
      }
      &-plus {
        margin-left: .3em !important;
      }
      &-minus {
        margin-right: .3em !important;
      }
    }
  }
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.mob-product{
  &__header{
    display: flex;
  }
  &__img{
    flex: 0 0 30%

  }
  &__price{
    flex: 0 0 70%;
    padding-left: 2em;
    font-size: 0.8em;
  }
  &__quantity{
    display: flex !important;
    justify-content: flex-start;
    align-items: baseline;
    #product__quantity-input, &-input{
      font-size: 1.4em !important;

      pointer-events:none;
      background-color: white;
      padding: .1em 0 !important;
      margin: 0 auto!important;
      flex: 0 0 1.9em;
      text-align: center;
      border: 1px solid lightgrey !important;
      border-radius: 8px !important;

    }
    &-btn{
      &-plus, &-minus{
        font-size: 1.4em !important;
        padding: 0 !important;
        height: 1.8em !important;
        margin: 0;
        position: relative !important;
        right: auto !important;
        left: auto !important;
        bottom: auto !important;
        flex: 0 0 1.8em;
      }
      &-minus{
        margin-right: .3em !important;

      }
      &-plus{
        margin-left: .3em !important;

      }
    }
  }
}


@media screen and (min-width: 768px) {
  .mob-header{
    &__second-line, &__first-line{
      font-size: 1.5em;
    }
  }
  #content{
    margin-top: 2.5em;
  }
}
