@import "./mob-style.scss";

.left-move-first {
  padding-left: 0.9375rem !important;
  width: 75% !important;
  left: 25% !important;
}

.left-move-second {
  padding-left: 1.9375rem !important;
  width: 75% !important;
  left: 25% !important;
}

.left-move-third {
  padding-left: 1.9375rem !important;
  width: 75% !important;
  left: 25% !important;
}

.customer-login-form {
  margin-left: 26%;
  width: 50%;
}

#address-textaria {
  height: 144.5px;
}

@mixin mobile_css {

  #add-to-cart-button.single_add_to_cart_button.button{
    display: inline-block !important;
    position: relative;
    padding: .5em 1.5em !important;
  }

  .product-props.woocommerce-tabs{
    margin-bottom: 0 !important;
  }
  #product-properties{
    margin-top: 0!important;
  }
  .mob-hide {
    display: none !important;
  }

  #content {
    min-height: 0 !important;
    margin-bottom: 0 !important;
  }

  a.page-numbers, span.page-numbers, .page .gap, .disabled > a {
    min-width: 2.5em;
    padding: .1em .5em .2em !important;
    border-radius: .3em !important;
  }
  .line_item_quantity {
    border-radius: 4px;
  }

  .add_to_cart_button {
    &:hover {
      background-color: $brand-default !important;
    }
    &:active {
      background-color: $brand-light !important;
    }

    &::before {
      background-color: transparent !important;;
    }
  }
  li.product:hover, .section-onsale-product .onsale-product:hover, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content:hover, .products-carousel .owl-item .product:hover, li.product.hover, .section-onsale-product .hover.onsale-product, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .hover.onsale-product-content, .products-carousel .owl-item .hover.product {
    z-index: auto !important;
    position: relative !important;
    box-shadow: none !important;
    &:after {
      display: none !important;
    }
  }
  ul.products > li.product:hover .hover-area {
    background-color: red;
  }
  .shop-control-bar {
    padding: 0;
    text-align: left;
  }
  .mob-filter {
    &__others_hide {
      display: none !important;
    }
    &__btn {
      background-color: darken(white, 3%) !important;

      &:focus {
        background-color: darken(white, 3%) !important;
      }
    }
  }

  .navbar-mini-cart .cart-items-count {
    left: auto !important;
    margin-right: -1em;
    right: 0;
    margin-bottom: -1em;
  }
  .customer-login-form {
    margin-left: 0;
    width: 100%;
  }
  #breadcrumbs, .hover-area, .woocommerce-breadcrumb, .toast-container {
    display: none !important;
  }
  .container {
    padding: 0.5em .3em;
  }
  .left-move-first, .left-move-second, .left-move-third {
    left: 0 !important;

    margin: 0 !important;
    padding-left: 0 !important;
    width: 100% !important;
  }
  .page-header {
    font-size: 16px;
    margin-left: .3em;
    margin-right: .3em;
    .page-title {
      font-size: 16px;

    }
  }
  #sidebar_products_search {
    button {
      padding: .2em .6em;
      border-radius: .8em;
    }
  }
  .dropup, .dropdown{
    position: static;
  }
  .dropdown-menu {
    width: 90% ;
    position: absolute;
    top: auto;
    margin: 0 auto;
  }
  .filter-menu .list {
    height: auto !important;
  }
  .list {
    padding-bottom: 1em;
  }
  input[type="text"], .input-text, select {
    border-radius: 1em !important;
    padding: .5em 1em !important;
    line-height: 1.7em;
    font-size: 1em;
  }

  #address-textaria {
    height: 8.5em;
  }

  .mob-links{
    width: 100%;
  }
  .checkout-button {
    text-align: center;
    width: 100%;
    line-height: 1.7em;
    font-weight: 700;
    color: white;
    border-radius: 1em;
    padding: .5em 1em;
    background-color: $brand-alert;
  }
  .inp::after {
    padding-right: 1.2em;
    font-size: 1.8em;
    margin-top: -.2em;
  }
  #payment .place-order {
    padding: 0;
  }
  #customer_details {
    & > .col2-set {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
    & .col-1, & .col-2 {
      padding: 0;
    }
  }
  td:before{
    content: none !important;
  }
  .cart-collaterals{
    margin: 0 !important;
  }
  #content #primary.single-product{
    width: 100% !important;
    left: 0 !important;
    padding-left: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  .mobile-css #customer_details {
    & .col-1 {
      padding-right: 1em !important;
    }
    & .col-2 {
      padding-left: 1em !important;
    }
  }
}



////768 1400
//@media screen and (max-width: 1400px) {
//
//  @include mobile_css;
//
//  html{
//    position: relative;
//    min-height: 100%;
//  }
//
//  body{
//    margin: 0 0 calc(2em + 2px);
//  }
//  .mob-hide{
//    display: none !important;
//  }
//}
//
////768 1400
//@media screen and (min-width: 1400px) {
//  .mob-show{
//    display: none !important;
//  }
//}

.mobile-css {
  @include mobile_css;
}

.desktop-css {
  .mob-show {
    display: none !important;
  }
}

.product-card {
  position: relative;
  width: 100% !important;
  padding: 0 !important;
  & .product-thumbnail {
    position: relative;
    bottom: 0;
    object-fit: cover;
    height: 18.5em !important;
    padding-bottom: 0 !important;
  }
}