<%= form_for :order, url: populate_orders_path, :html =>{:class=> "variations_form cart"} do |f| %>
    <!-- <div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="https://schema.org/Offer"> -->
    <% if @product.variants_and_option_values(current_currency).any? %>
        <div id="product-variants" class="col-md-6">
          <h3 class="product-section-title"><%= Spree.t(:variants) %></h3>
          <ul class="list-group">
            <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
                <li>
                  <%= radio_button_tag "variant_id", variant.id, index == 0,
                                       'data-price' => variant.price_in(current_currency).money,
                                       'data-in-stock' => variant.can_supply?
                  %>
                  <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant_options variant %>
                </span>
                      <% if variant_price variant %>
                          <span class="price diff"><%= variant_price variant %></span>
                      <% end %>
                      <% unless variant.can_supply? %>
                          <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                      <% end %>
                  <% end %>
                </li>
            <% end%>
          </ul>
        </div>
    <% else %>
        <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>

    <% if @product.price_in(current_currency) && !@product.price.nil? %>

        <% if @product.can_supply? %>
            <div class="single_variation_wrap">
              <div class="woocommerce-variation single_variation"></div>
              <div class="woocommerce-variation-add-to-cart variations_button">
                <div class="quantity buttons_added mob-product__quantity">
                  <input type="button" class="minus mob-product__quantity-btn-minus" value="-" style="background-color:#efecec !important;">
                  <%= number_field_tag :quantity, 1, min: 1, id:'product__quantity-input', class: "form-control mob-product__quantity-input input-text qty text", size: 2 %>
                  <input type="button" class="plus mob-product__quantity-btn-plus" value="+" style="background-color:#efecec !important;">
                </div>

                <%= button_tag class: 'single_add_to_cart_button button', id: 'add-to-cart-button', type: :submit do %>
                    <%= Spree.t(:add_to_cart) %>
                <% end %>
              </div>
        <% end %>

        </div>
    <% else %>
        <div class="single_variation_wrap">
          <br />
          <div>
          <span class="price selling" itemprop="price">
            <%= Spree.t('product_not_available_in_this_currency') %>
          </span>
          </div>
        </div>
    <% end %>
    <!-- </div> -->
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $("#quantity").on("change", function(){
      if ($(this).val()==""){
        $(this).val(1)
      }
    });
  });
</script>
