<footer class="mob-footer mob-show">
  <span class="mob-footer__left">2017 &copy;  41km.ru</span>
  <span class="mob-footer__right">ежедневно с 10:00 до 21:00</span>
</footer>

<script type="text/javascript" charset="utf-8">
  mobileCheckAndRemove()
</script>