<% order_form.object.line_items.each do |line_item| %>
    <% variant = line_item.variant %>
    <%= order_form.fields_for :line_items, line_item do |item_form| %>
        <div class="mob-card line-item">
          <div class="mob-card__item ">
            <%= link_to "×", '#', class: 'mob-card__delete-btn delete', id: "delete_#{dom_id(line_item)}" %>
            <div class="mob-card__photo">
              <% if Rails.env.production? %>
                  <% if variant.images.length == 0 %>
                      <%= link_to small_image(variant.product), variant.product %>
                  <% else %>
                      <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
                  <% end %>
              <% else %>
                  <img src="dev_placeholder2.jpg" alt="111111" />
              <% end %>

            </div>
            <div class="mob-card__details">
              <div class="mob-card__title-link">
                <%= link_to line_item.name, product_path(variant.product) %>
              </div>
              <%= variant.options_text %>
              <% if line_item.insufficient_stock? %>
              <span class="out-of-stock">
                <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
              </span>
              <% end %>
              <div class="mob-card__details-price">
                Цена: <%= display_hum_price(line_item.price) %> руб.
              </div>
              <div class="mob-card__details-quantity">
                Х <%= line_item.quantity %>
              </div>

            </div>
          </div>
          <div class="coupon">
            <%#= order_form.label :coupon_code %>
            <%= order_form.hidden_field :coupon_code, class: 'input-text', :placeholder => Spree.t(:coupon_code) %>
            <!-- <input type="submit" value="Принять" name="apply_coupon" class="button"> -->
            <%#= button_tag Spree.t(:apply), class: 'button' %>
          </div>
          <div class="mob-card__count">
            Количество:
            <div class="mob-card__count-btn quantity buttons_added" data-hook="cart_item_quantity">
              <input type="button" class="minus mob-card__count-btn-minus " value="−" style="background-color:#efecec !important;">
              <%= line_item.quantity %>
              <%= item_form.number_field :quantity, min: 1,max: 99, class: "qty text mob-card__count-input line_item_quantity",  size: 5 %>

              <input type="button" class="plus mob-card__count-btn-plus " value="+" style="background-color:#efecec !important;">
            </div>
            <span class="amount">Итого: <%= display_hum_price(line_item.amount) + ' руб.' unless line_item.quantity.nil? %></span>
          </div>
        </div>
    <% end %>
<% end %>
