<script type="text/javascript" charset="utf-8">
  mobileCheck();
</script>

<div class="mob-header mob-show">
  <div class="mob-header__first-line">
    <div class="mob-header__logo" >
      <a href="/" class="header-logo-link">
        41KM.RU
      </a>
    </div>

    <div class="mob-header__tel">
      <a href="tel:+78007444422">
        <i class="fa fa-phone " aria-hidden="true"></i> +7 (800) 744-44-22
      </a>
    </div>

    <div class="mob-header__toggler">
      <button  type="button" onclick="mobileMenuOpen()">
        <span class="icon">&#9776;</span>
      </button>
    </div>
  </div>

  <div class="mob-header__second-line">
    <div class="mob-header__catalog" id="mob-header__catalog">
      <button onclick="openMobileCatalog()" class="mob-header__catalog-btn">
        Каталог товаров <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <div id="mob-header__catalog-content" class="mob-header__catalog-content mob-header__catalog-content_show" >
        <div class="mob-header__catalog-search">
          <%= form_tag spree.products_path, method: :get, class: "mob-header__search-form" do %>
              <label for="mob-header__search-input" class="mob-header__search-label"><i class="fa fa-search" aria-hidden="true"></i></label>
              <%= search_field_tag :keywords, params[:keywords], id:'mob-header__search-input', placeholder: 'поиск товаров', class: "mob-header__search-input" %>
          <% end %>
          <button class="mob-header__close-btn" onclick="openMobileCatalog()">
            <img style="fill:white" src="<%= asset_path('closeNav.svg') %>" alt="Закрыть"/>
          </button>
        </div>
        <% Spree::Taxonomy.first.root.children.each do |taxon| %>
            <%= link_to taxon.name, seo_url(taxon), :title => taxon.name %>
        <% end %>
      </div>
    </div>
    <div class="mob-header__cart">
      <%= render partial: "/mobile/cart", :locals => {:order => current_order} %>
    </div>
  </div>

</div>

<div class="mob-header-blank mob-show"></div>


<%= render partial: 'mobile/menu' %>