
<main id="main" class="site-main single-product mob-show" style="padding-left: 0.9375rem; margin: 0 auto" >
  <h1 itemprop="name" class="product_title entry-title"><%= @product.name %></h1>

  <div class="mob-product__header">
    <div class="mob-product__img">
      <% if Rails.env.production? %>
          <%= product_image(@product) %>
      <% else %>
          <%= link_to(image_tag("/dev_placeholder_product.jpg", :class=>"wp-attachment-shop_single size-shop_single-image mob-img"), @product.images[0].attachment.url(:original), :class => "zoom", :data=> {:rel => "prettyPhoto[product-gallery]"}) %>
      <% end %>
    </div>
    <div class="mob-product__price">
      <div class="availability in-stock"><strong>Код товара</strong>: <span style="color:#b60000;"><%= @product.sku%></span></div>

      <% if @product.available?%>
          <p class="price">
                <span class="electro-price">
                  <span class="amount"><%= display_price(@product) %></span>
                  </span>
          </p>
          <meta itemprop="price" content="1215" />
          <meta itemprop="priceCurrency" content="rub" />
          <link itemprop="availability" href="http://schema.org/InStock" />
          <% if (@product.available? && @product.price.to_i >0) %>
              <%= render partial: 'mobile/cart_form' %>
          <% end %>
      <% else %>
          Наличие товара уточняйте
      <% end %>

    </div>
  </div>

  <div class="mob-product-details">
    <div class="product-props woocommerce-tabs">
      <%= render partial: 'properties' %>
    </div>
    <%= render :partial => "spree/shared/latest_products_bottom"%>
  </div>

  <script>
    $(document).ready(function(){
      Spree.fetch_recently_viewed_products('<%= @product.try(:id) %>');
    });

  </script>
</main>