<div id="content" class="site-content " tabindex="-1">
  <div class="container">
   <nav class="woocommerce-breadcrumb ">
   </nav>
   <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
    <div id="primary" class="content-area">
      <main id="main" class="site-main">
        <article id="post-8" class="hentry">
          <div class="entry-content">
            <div class="woocommerce">
              <div class="customer-login-form">
                <h2 class="panel-title"><%= Spree.t(:editing_user) %></h2>
                  <%= form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f| %>
                    <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
                      <%= f.submit Spree.t(:update), :class => 'button' %>
                  <% end %>
              </div>
            </div>
          </div>
        </article>     
      </main>
    </div>
  </div>
</div>