<div id="primary" class="content-area left-move-third">
  <main id="main" class="site-main">
    <nav class="woocommerce-breadcrumb ">
    </nav>
    <article class="page type-page status-publish hentry">
      <header class="woocommerce-account"><h2 ><%= accurate_title %></h2></header>
      <div data-hook="account_summary" class="account-summary well">
        <dl id="user-info">
          <dt><%= Spree.t(:email) %></dt>
          <dd><%= @user.email %> (<%= link_to Spree.t(:edit), spree.edit_account_path %>)</dd>
        </dl>
      </div>
        <% if @orders.present? %>
       <header class="woocommerce-account"> <h2><%= Spree.t(:my_orders) %></h2></header>
        <table class="shop_table shop_table_responsive cart">
          <thead>
            <tr>
              <th class="order-number"><%= Spree.t(:order) %></th>
              <th class="order-date"><%= Spree.t(:date) %></th>
              <th class="order-status"><%= Spree.t(:status) %></th>
              <th class="order-total"><%= Spree.t(:total) %></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td class="order-number" ><%= link_to order.number, order_url(order), :style =>"color: #0062bd;"%></td>
                <td class="order-date"><%= l order.completed_at.to_date %></td>
                <td class="order-status"><%= Spree.t("order_state.#{order.state}").titleize %></td>
                <td class="order-total"><%= display_hum_price(order.total) %> руб.</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-info"><%= Spree.t(:you_have_no_orders_yet) %></div>
      <% end %>
    </article>
  </main>
</div>
<div id="sidebar" class="sidebar">
  <aside class="widget widget_electro_products_filter " style="margin-top: 13px;">
    <aside class="widget woocommerce widget_price_filter">
    </aside>
  </aside>
</div>