<% @body_id = 'signup' %>
<div id="content" class="site-content" tabindex="-1">
  <div class="container">
   <nav class="woocommerce-breadcrumb ">
   </nav>
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
    <div id="primary" class="content-area">
      <main id="main" class="site-main">
        <article id="post-8" class="hentry">
          <div class="entry-content">
            <div class="woocommerce">
              <div class="customer-login-form">
                <h2 class="panel-title"><%= Spree.t(:registration) %></h2>
                <%= form_for resource, :as => :spree_user, :url => spree.registration_path(@user),:class => "register" do |f| %>
                  <div data-hook="signup_inside_form">
                    <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
                    <p class="form-row"><%= f.submit Spree.t(:registration), :class => 'button' %></p>
                    <p class="lost_password"><%= link_to "Войти", spree.login_path%></p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>

