<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal" style="background-color: #fff !important;">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">закрыть</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Заказать звонок
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
            <%= form_for call_message, :url => call_messages_path, :remote => true, :validate => true,:data => {:toggle=>"validator"} do |f|%>
                  <div class="form-group">
                      <label for="fb_mail">Ваше имя*</label>
                      <%= f.text_field :name, :id=>"fb_name", :class=>"input-text validate-required", :placeholder=>"Ваше имя", :required => true %>
                  </div>
                  <div class="form-group">
                    <label for="fb_phone">Телефон*</label>
                    <%= f.text_field :phone, :id=>"fb_phone", :class=>"input-text validate-required ", :placeholder=>"Ваш телефон", :required => true%>
                  </div>
                  <div class="form-group">
                    <label for="fb_comment">Комментарий</label>
                    <%= f.text_area :comment, :id=>"fb_comment",  :class=>"input-text", :value => "Пожалуйста, свяжитесь со мной"%>
                  </div>
                  <%= recaptcha_tags :hl => :ru %>
                  <%= f.submit :value=>'Заказать обратный звонок', :class => "sub-btn", :disabled => true%>
                <% end -%>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
 
</script>
