<div class="woocommerce-checkout-review-order order-view" id="order_review">
  <table class="shop_table woocommerce-checkout-review-order-table">
    <thead>
      <tr>
        <% if order.has_step?("address") %>
          <th class="product-name">Адрес <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless order.completed? %></th>
          <%# if order.has_step?("delivery") %>
            <!-- <th class="product-name"><%#= Spree.t(:shipping_address) %> <%#= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless order.completed? %></th> -->
            <th class="product-name">Способ доставки <%#= link_to "(#{Spree.t(:edit)})", checkout_state_path(:delivery) unless order.completed? %></th>
          <%# end -%>
        <% end %>
        <%# if order.has_step?("payment") %>
          <th class="product-name">Тип платежа <%#= link_to "(#{Spree.t(:edit)})", checkout_state_path(:payment) unless order.completed? %></th>
        <%# end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if order.has_step?("address") %>
          <td data-hook="order-bill-address">
            <%if order.bill_address.address1.blank?%>
              Не указан  
            <%else%>
              <%= render 'spree/shared/address', address: order.bill_address %>
            <% end -%>
          </td>
          <td data-hook="order-shipment">
          <% dt = order.bill_address.delivery_type%>
           <%= dt.name  if dt%>
          </td>
          <% if order.has_step?("delivery") %>
            <!-- <td data-hook="order-ship-address"><%#= render 'spree/shared/address', address: order.ship_address %></td> -->
            <td data-hook="order-shipment">
              <% order.shipments.each do |shipment| %>
                  <i class='fa fa-truck'></i>
                  <%= Spree.t(:shipment_details, stock_location: shipment.stock_location.name, shipping_method: shipment.selected_shipping_rate.name) %>
                  <%= render 'spree/shared/shipment_tracking', order: order if order.shipped? %>
              <% end %>
            </td>
            <td data-hook="order-payment">
              <% order.payments.valid.each do |payment| %>
                <%= render payment %><br/>
              <% end %>
            </td>
          <% end %>
          <td data-hook="order-payment">
          <% pt = order.bill_address.payment_type%>
            <%= pt.name if pt%>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <table id='line-items' data-hook="order_details " class="shop_table shop_table_responsive cart">
    <thead>
      <tr>
        <th class="product-thumbnail">&nbsp;</th>
        <th class="product-name"><%= Spree.t(:item) %></th>
        <th class="product-price"><%= Spree.t(:price) %></th>
        <th class="product-quantity"><%= Spree.t(:qty) %></th>
        <th class="product-subtotal"><%= Spree.t(:total) %></th>
      </tr>
    </thead>
    <tbody>
      <% order.line_items.each do |item| %>
      <tr data-hook="order_details_line_item_row" class="line-item">
        <td data-hook="order_item_image" class="product-thumbnail">
          <% if item.variant.images.length == 0 %>
            <%= link_to small_image(item.variant.product), item.variant.product %>
          <% else %>
            <%= link_to image_tag(item.variant.images.first.attachment.url(:product)), item.variant.product %>
          <% end %>
        </td>
        <td class=" product-name" data-hook="order_item_description">
          <%= item.name %>
          <%= "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
        </td>
        <td data-hook="order_item_price" class="product-price"><%= display_hum_price(item.price) %> руб.</td>
        <td data-hook="order_item_qty" class="product-quantity"><%= item.quantity %></td>
        <td data-hook="order_item_total" class="product-subtotal"><%= display_hum_price(item.amount) %>руб.</td>
      </tr>
    <% end %>
    </tbody>
<!--     <tfoot id="order-total" data-hook="order_details_total">
      <tr class="warning total">
        <th> <%#= Spree.t(:order_total) %>: </th> 
        <td class="total"><span id="order_total" class="amount"><%#= display_hum_price(order.total)%> руб.</span></td>
      </tr>
      <tr class="order-total" id="subtotal-row">
        <td><%#= Spree.t(:subtotal) %>:</td>
        <td class="total"><span class="amount"><%#= display_hum_price(order.item_total) %> руб.</span></td>
      </tr>
    
      <%# if order.line_item_adjustments.exists? %>
        <%# if order.line_item_adjustments.promotion.eligible.exists? %>
            <%# order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
             <tr class="total" data-hook="order_details_price_adjustments">
               <td><%#= Spree.t(:promotion) %>: <strong><%#= label %></strong></td>
               <td class="total"><span><%#= display_hum_price(adjustments.sum(&:amount)) %> руб.</span></td>
             </tr>
           <%# end %>
        <%# end %>
      <%# end %>
      <%# order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
        <tr class="order-total" data-hook='shipment-row'>
          <td class="text-muted"><%#= Spree.t(:shipping) %>: <strong><%#= name %></strong></td>
          <td class="total"><span><%#= display_hum_price(shipments.sum(&:discounted_cost)) %> руб.</span></td>
        </tr>
      <%# end %>
      <%# if order.all_adjustments.tax.exists? %>
        <%# order.all_adjustments.tax.group_by(&:label).each do |label, adjustments| %>
          <tr class="order-total" data-hook="order_details_tax_adjustments">
            <td class="text-muted"><%#= Spree.t(:tax) %>: <strong><%#= label %></strong></td>
            <td class="total"><span><%#= display_hum_price(adjustments.sum(&:amount)) %> руб.</span></td>
          </tr>
        <%# end %>
      <%# end %>
      <%# order.adjustments.eligible.each do |adjustment| %>
          <%# next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
          <tr class="order-total" data-hook="order_details_adjustments">
            <td><strong><%#= adjustment.label %></strong></td>
            <td class="total"><span><%#= display_hum_price(adjustment.display_amount) %> руб.</span></td>
          </tr>
      <%# end %>
    </tfoot> -->
  </table>
   <div class="cart-collaterals">
              <div class="cart_totals ">
                <h2><%= Spree.t(:total) %></h2>
                <table class="shop_table shop_table_responsive">
                  <tbody>
                    <tr class="cart-subtotal">
                      <th><%#= Spree.t(:total) %></th>
                      <td class="mob-total" style="font-size: 1.2em; padding-right: 1.25em;"><span class="amount"><%= display_hum_price(order.total)%> руб.</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  // if (!$("#order_review").hasClass("order-view")){ 
    $(".departments-menu .nav-item.dropdown").removeClass(" open");
    $(".departments-menu .nav-link.dropdown-toggle").attr("aria-expanded", false);
  // };
});
</script>