<% content_for :head do %>
    <% if products.respond_to?(:total_pages) %>
        <%= rel_next_prev_link_tags products %>
    <% end %>

<% end %>

<div data-hook="products_search_results_heading">
  <% if products.empty? %>
      <div data-hook="products_search_results_heading_no_results_found">
        <%= Spree.t(:no_products_found) %>
      </div>
  <% elsif params.key?(:keywords)|| params.key?(:in_name_or_keywords_string) %>
      <div data-hook="products_search_results_heading_results_found">

      </div>
  <% end %>
</div>
<% if products.any? %>
    <%# if products.respond_to?(:total_pages) %>
    <!--  <div class="shop-control-bar">
      <ul class="list-inline">
        <li><%#= link_to_unless (current_sorting?(:ascend_by_updated_at)), "Newest",  :params => {sorting: :ascend_by_updated_at} %></li>
        <li><%#= link_to_unless current_sorting?(:ascend_by_master_price),"Lowest price",  :params => {sorting: :ascend_by_master_price} %></li>
        <li><%#= link_to_unless current_sorting?(:descend_by_master_price),"Highest price", :params => {sorting: :descend_by_master_price} %></li>
      </ul> 
      </div> -->
    <%# end %>

    <ul class="products columns-3">
      <% products.each do |product| %>
          <% url = spree.product_path(product) %>
          <li class="product " id="product_<%= product.id %>" itemtype="https://schema.org/Product">
            <div class="product-outer product-card">
              <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : cache_key_for_product(product)) do %>
                  <div class="product-inner">
                    <% if @taxon %>
                        <!--  <span class="loop-product-categories">
                      <%#= link_to @taxon.name, seo_url(@taxon)%>
                    </span> -->
                    <% end %>
                    <%= link_to url do %>
                        <h3><%= product.name %></h3>
                        <div class="product-thumbnail">
                          <% if Rails.env.production? %>
                              <%= product_image(product, itemprop: "image", :style => "display: block; margin: 0 auto;") %>
                          <% else %>
                              <img src="http://localhost:3000/dev_placeholder_hits.jpg" alt="111111"/>
                          <% end %>
                        </div>
                    <% end %>
                    <div class="product-sku sku-code">Код:<span class="color-red"> <%= product.sku %> </span></div>
                    <div class="product-sku sku-brand">Бренд: <%= link_to product.brand, "/brands/#{product.brand}" %></div>
                    <div class="product-sku sku-country">Страна: <%= product.country %></div>
                    <!-- <div class="hover-area"></div> -->
                    <div class="price-add-to-cart">
                  <span class="price">
                    <span class="electro-price">
                      <span class="amount"><%= display_price(product) %></span>
                    </span>
                  </span>
                      <% if product.price.to_i >0 %>
                          <a rel="nofollow" data-link="link_to-<%= product.master.id %>" class="button add_to_cart_button" data-remote="true" style="cursor: pointer"><%= Spree.t(:add_to_cart) %></a>
                      <% end -%>
                    </div>
                    <div></div>
                  </div>


              <% end %>
            </div>
          </li>
      <% end %>
    </ul>
<% end %>

<div class="shop-control-bar-bottom">
  <% if products.respond_to?(:total_pages) %>
      <nav class="woocommerce-pagination mob-hide">
        <%= paginate products, window: 2, :left => 1, :right => 1, views_prefix: 'spree' %>
      </nav>
      <nav class="woocommerce-pagination mob-show">
        <%= paginate products, window: 1, :left => 1, :right => 1, views_prefix: 'spree' %>
      </nav>
  <% end %>
</div>
