<% filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.all_taxons] %>

<% unless filters.empty? %>
<%= form_tag '', method: :get, id: 'sidebar_products_search' do %>
    <div class="dropdown" style="display: inline;">
        <button class="dLabel <%= active_filter(@min_product_price, @max_product_price, params[:min_price],params[:max_price])%>" type="button"  aria-haspopup="true" aria-expanded="false">
          Цена
          <span class="caret"></span>
        </button>
        
        <ul class="dropdown-menu filter-menu" aria-labelledby="dLabel">
          <div class="list price-filter ">
            <li>
              <label  for="filter_min_price" class="l-f">От</label>
              <input id="filter_min_price" class="l-f" type="text" name="min_price" value ="<%= params[:min_price].present? ? params[:min_price] : @min_product_price%>" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
              <label  for="filter_max_price" class="l-f">До</label>
              <input id="filter_max_price" class="l-f" type="text" name="max_price" value ="<%= params[:max_price].present? ? params[:max_price] : @max_product_price%>" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>  
            </li>
          </div>
          <%= submit_tag "Применить", name: nil, class: 'button btn-filter' %>
        </ul>
    </div>
    <%= hidden_field_tag 'per_page', params[:per_page] %>
    <% filter_index = 0 %>
    <% filters.each do |filter| %>
      <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
      <% next if labels.empty? %> 
      <% filter_index += 1 %>
      <div class="dropdown <%= filter_index > 2 ? 'mob-filter__others mob-filter__others_hide' : '' %>" style="display: inline;">
          <% if filter[:name] == "Высота, см"%>
              <button class="dLabel <%= active_filter(labels.first[1], labels.last[1], params[:h_btw_min], params[:h_btw_max])%>" type="button"  aria-haspopup="true" aria-expanded="false">
                <%= filter[:name] %>
                <span class="caret"></span>
              </button>
              
              <ul class="dropdown-menu filter-menu" aria-labelledby="dLabel">
                <div class="list price-filter ">
                  <li>
                    <label  for="filter_h_btw_min" class="l-f">От</label>
                    <input id="filter_h_btw_min" class="l-f" type="text" name="h_btw_min" value ="<%= params[:h_btw_min].present? ? params[:h_btw_min] : ''%>" placeholder="<%= labels.first[1]%>"   onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    <label  for="filter_max_price" class="l-f">До</label>
                    <input id="filter_h_btw_max" class="l-f" type="text" name="h_btw_max" value ="<%= params[:h_btw_max].present? ? params[:h_btw_max] : ''%>" placeholder="<%= labels.last[1]%>" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>  
                  </li>
                </div>
                <%= submit_tag "Применить", name: nil, class: 'button btn-filter' %>
              </ul>
          <% elsif filter[:name] == "Глубина, см"%>
              <button class="dLabel <%= active_filter(labels.first[1], labels.last[1], params[:d_btw_min], params[:d_btw_max])%>" type="button"  aria-haspopup="true" aria-expanded="false">
                <%= filter[:name] %>
                <span class="caret"></span>
              </button>
              
              <ul class="dropdown-menu filter-menu" aria-labelledby="dLabel">
                <div class="list price-filter ">
                  <li>
                    <label  for="filter_d_btw_min" class="l-f">От</label>
                    <input id="filter_d_btw_min" class="l-f" type="text" name="d_btw_min" value ="<%= params[:d_btw_min].present? ? params[:d_btw_min] : ''%>" placeholder="<%= labels.first[1]%>" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    <label  for="filter_d_btw_max" class="l-f">До</label>
                    <input id="filter_d_btw_max" class="l-f" type="text" name="d_btw_max" value ="<%= params[:d_btw_max].present? ? params[:d_btw_max] : '' %>" placeholder="<%= labels.last[1]%>" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>  
                  </li>
                </div>
                <%= submit_tag "Применить", name: nil, class: 'button btn-filter' %>
              </ul>
          <% elsif filter[:name] == "Ширина, см"%>
              <button class="dLabel <%= active_filter(labels.first[1], labels.last[1], params[:w_btw_min], params[:w_btw_max])%>" type="button"  aria-haspopup="true" aria-expanded="false">
                <%= filter[:name] %>
                <span class="caret"></span>
              </button>
              
              <ul class="dropdown-menu filter-menu" aria-labelledby="dLabel">
                <div class="list price-filter ">
                  <li>
                    <label  for="filter_w_btw_min" class="l-f">От</label>
                    <input id="filter_w_btw_min" class="l-f" type="text" name="w_btw_min" value ="<%= params[:w_btw_min].present? ? params[:w_btw_min] : '' %>" placeholder="<%= labels.first[1]%>" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    <label  for="filter_w_btw_max" class="l-f">До</label>
                    <input id="filter_w_btw_max" class="l-f" type="text" name="w_btw_max" value ="<%= params[:w_btw_max].present? ? params[:w_btw_max] : '' %>" placeholder="<%= labels.last[1]%>" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>  
                  </li>
                </div>
                <%= submit_tag "Применить", name: nil, class: 'button btn-filter' %>
              </ul>
          <% else %>
            <button class="dLabel" type="button"  aria-haspopup="true" aria-expanded="false">
              <%= filter[:name] %>
              <span class="caret"></span>
              </button>  
            <ul class="dropdown-menu filter-menu" aria-labelledby="dLabel">
              <div class="list">
                <% labels.each do |nm,val| %>
                    <% label = "#{filter[:name]}_#{nm}".gsub(/\s+/,'_') %>
                    <li class="filter-pos checkbox abc-checkbox abc-checkbox-info">
                      <input class="chck" type="checkbox"
                             id="<%= label %>"
                             name="search[<%= filter[:scope].to_s %>][]"
                             value="<%= val %>"
                             <%= params[:search].present? && params[:search][filter[:scope]] && params[:search][filter[:scope]].include?(val.to_s) ? "checked" : "" %> >
                       <label  for="<%= label %>" class="l-f">
                       <%= nm %> 
                       </label>
                     </li>
                <% end %>
              </div>
              <%= submit_tag "Применить", name: nil, class: 'button btn-filter' %>
            </ul>
            <% end %>
        </div>
        
    <% end %>
    <% if filter_index > 2 %>
       <button class="dLabel mob-show mob-filter__btn" type="button" onclick="mobOtherFiltersToggle()">Показать остальные фильтры</button>
    <% end %>
  <% end -%>
<% end %>
<script type="text/javascript">
  $(document).ready(function () {
    
    if ($('.chck').is(":checked")) {
      $(this).parent('.dropdown').children(".dLabel").addClass(" active");
    }
    $("#sidebar_products_search .dropdown").find( ".chck:checked" ).parents(".dropdown ").children(".dLabel").addClass("active-filter")
    $(document).mouseup(function (e)
      {
          var container = new Array();
          container.push($('.filter-menu'));       
          $.each(container, function(key, value) {
            if ($(value).parent(".dropdown").hasClass("open")){
              if (!$(value).is(e.target) 
                  && $(value).has(e.target).length == 0 
                  && !$(value).parent(".dropdown").children(".dLabel").is(e.target)) 
              {
                  $(value).parent(".dropdown").removeClass("open");
              }
            }
          });
      });
    $('.dLabel').on('click', function() {
      if ($(this).parent().hasClass("open")){
        $(this).parent().removeClass('open');
      }
      else{
        $('.dLabel').parent().removeClass('open');
        $(this).parent().toggleClass('open');
      }
    });
    $("#filter_min_price").on("change", function(){ 
      if ($(this).val()==""){
        $(this).val("<%= j(@min_product_price.to_s) %>")
      }
    });
    $("#filter_max_price").on("change", function(){ 
      if ($(this).val()==""){
        $(this).val("<%= j(@max_product_price.to_s)%>")
      }
    });
  });
</script>
