<% @body_id = 'home-page' %>
<div id="content-home" class="site-content <%= @body_id if @body_id%>" tabindex="-1">
    <div class="container">
    	<div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="home-v2-slider mob-hide" >
                    <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
                        <div class="item" style="background-image: url(<%= asset_path('back_italy.jpg')%>); ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-12">
                                        <div class="caption vertical-center text-left second-slide">
                                             <div class="hero-1 fadeInDown-1">
                                                <img src="<%= asset_path('banner_italy.png')%>" >
                                            </div>
                                        <!--
                                            <div class="hero-subtitle fadeInDown-2">
                                                 under favorable smartwatches
                                            </div>
                                            <div class="hero-v2-price fadeInDown-3">
                                                from <br><span>$749</span>
                                            </div> -->
                                                       
                                            </div><!-- /.caption -->
                                        </div>
                                    </div>
                                </div><!-- /.container -->
                        </div>
                        <div class="item" style="background-image: url(<%= asset_path('back_liquidation.jpg') %>);">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-12">
                                        <div class="caption vertical-center text-left">
                                             <div class="hero-1 fadeInDown-1 second-slide">
                                                <img src="<%= asset_path('banner_liquidation.png')%>">
                                            </div>
                                            <!--
                                            <div class="hero-subtitle fadeInDown-2">
                                                 under favorable smartwatches
                                            </div>
                                            <div class="hero-v2-price fadeInDown-3">
                                                from <br><span>$749</span>
                                            </div> -->
                                                       
                                            </div><!-- /.caption -->
                                        </div>
                                    </div>
                                </div><!-- /.container -->
                        </div>
                        <div class="item" style="background-image: url(<%= asset_path('banner_delivery_back2.jpg') %>);    background-size: inherit;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-12">
                                        <div class="caption vertical-center text-left">
                                             <div class="hero-1 fadeInDown-1 second-slide">
                                                <img src="<%= asset_path('banner_delivery2.png')%>">
                                            </div>
                                            <!--
                                            <div class="hero-subtitle fadeInDown-2">
                                                 under favorable smartwatches
                                            </div>
                                            <div class="hero-v2-price fadeInDown-3">
                                                from <br><span>$749</span>
                                            </div> -->
                                                       
                                            </div><!-- /.caption -->
                                        </div>
                                    </div>
                                </div><!-- /.container -->
                        </div>
                    </div>
                </div>
                <% if @text_first_leg %>
                    <div id="primary" class="content-area left-move-first" data-hook="homepage_products ">
                         <div itemprop="mainContentOfPage" class="entry-content mob-hide">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12" >
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <h2 class="vc_custom_heading faq-page-title contact-page-title" style="font-size: 25px;color: #434343;text-align: left;font-family:Open Sans;font-weight:400;font-style:normal"><%= @text_first_leg.title %> 
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid inner-bottom-xs" style="display: inline-block;">
                                <div class="wpb_column vc_column_container vc_col-sm-12 col-sm-12" style='padding-left: 0'>
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <div class="text-content">
                                                       <%= raw @text_first_leg.body%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <main class="site-main" id="main">
                        <% cache(cache_key_for_products) do %>
                            <%= render partial: 'spree/shared/featured_products', locals: { products: @feat_products } %>
                        <% end %>   
                    </main>
                    <% if @text_second_leg%>
                        <div itemprop="mainContentOfPage" class="entry-content mob-hide">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <h2 class="vc_custom_heading faq-page-title contact-page-title" style="font-size: 25px;color: #434343;text-align: left;font-family:Open Sans;font-weight:400;font-style:normal"><%= @text_second_leg.title %>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid inner-bottom-xs" style="display: inline-block;">
                            	<div class="wpb_column vc_column_container vc_col-sm-12 col-sm-12" style='padding-left: 0'>
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <div class="text-content">
                                                        <%= raw @text_second_leg.body %>
                                                    </div>
                                                </div>
                                            </div>
                                       	</div>
                                    </div>
                                </div>
                            </div>
                        <% end -%>
                        <%= render :partial => "spree/shared/latest_products_bottom"%>
                    </div>				  
				</div>
			  	<div id="sidebar" class="sidebar" role="complementary">
			  		<%#= render partial: "spree/shared/taxonomies"%>
			  		<%#= render partial: "spree/shared/latest_products", :locals => {:products => @feat_products} %>
			  	</div>
            </main>
        </div>
	  
		
	</div>
</div>
