<ul id="sidebar-product" class="collapse nav nav-pills nav-stacked" data-hook="admin_product_sub_tabs">
  <%= tab :products, match_path: '/products' %>
  <%= tab :option_types, match_path: '/option_types' %>
  <%= tab :properties %>
  <%= tab :prototypes %>
  <%= tab :taxonomies, match_path: '/taxonomies' %>
  <%= tab :taxons, match_path: '/taxons' %>
  <%= tab :providers, label:"Поставщики", match_path: '/providers' %>
  <%= tab :brand_images, label:"Бренды в ленте футера", match_path: '/brand_images' %>
</ul>