<% @body_id = 'login' %>
<div id="content" class="site-content left-move-third" tabindex="-1">
  <div class="container">
   <nav class="woocommerce-breadcrumb ">
   </nav>
    <div id="primary" class="content-area">
      <main id="main" class="site-main">
        <article id="post-8" class="hentry">
          <div class="entry-content">
            <div class="woocommerce">
              <div class="customer-login-form">
                <h2 class="panel-title"><%= Spree.t(:login) %></h2>
                  <% if flash[:alert] %>
                    <div class="alert alert-danger"><%= flash[:alert] %></div>
                  <% end %>
                  <%= render :partial => 'spree/shared/login' %>
                  <%= link_to Spree.t(:create_a_new_account), spree.signup_path %> <br />
                  <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
              </div>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>